{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2022",
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
